/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

html{
    font-size: 62.5%; /* 1rem = 10px */
    scroll-behavior: smooth;
    direction: rtl; 
}
:root{
/* Font Sizes & Family */
/* if we set html's font size 62.5% then 1rem = 10px */

--body-font: 'Poppins', sans-serif;

--big-font: 4rem;
--h1-font: 3.6rem;
--h2-font: 2.4rem;
--h3-font: 2rem;
--h4-font: 1.8rem;
--normal-font: 1.6rem;
--small-font: 1.4rem;
--smaller-font: 1.3rem;

/* Font Weight ***/
--font-regular: 400;
--font-medium: 500;
--font-semi-bold: 600;

/* Color Variables */
--primary-color: #C87E4F;
--primary-color-hover: #C2703D;
--text-color: #333;
--text-color-light: #888682;
--border-color: #484848;
--white-color: #FFF;
--section-bg: #2C3034;

/* z-index */
--z-overlay: 10;
--z-fixed: 100;

/* transition */
--tran-0-2: 0.2s;
--tran-0-3: 0.3s;
--tran-0-5: 0.5s;
}

/*Font sizes For Small Screen 968px */
@media screen and (max-width: 990px) {
:root {
  --big-font: 3.5rem;
  --h1-font: 2.4rem;
  --h2-font: 2rem;
  --h3-font: 1.8rem;
  --h4-font: 1.6rem;
  --normal-font: 1.5rem;
  --small-font: 1.3rem;
  --smaller-font: 1.2rem;
}
}


/* Pre-CSS */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
  background-color: var(--white-color);
}

/* Custom Scrollbar */
::selection{
  background-color: var(--primary-color);
  color: var(--white-color);
}
::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-track{
  background-color: #f9f1ec;
}
::-webkit-scrollbar-thumb{
  border-radius: 1rem;
  background-color: var(--primary-color);
}
::-webkit-scrollbar-thumb:hover{
  border-radius: 1rem;
  background-color: var(--primary-color-hover)
}

body,
button,
input{
  font-family: var(--body-font);
  font-size: var(--normal-font);
  font-weight: var(--font-regular);
  color: #fff;
}

input{
  outline: none;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}


/* Reusuable CSS */
.section{
  padding: 9rem 2rem;
}
.container{
  max-width: 1030px;
  width: 100%;
  margin: 0 auto;
  padding: 0 3rem;
}
.flex{
  display: flex;
  align-items: center;
  column-gap: 0.6rem;
}


/********************************* Start Navbar *******************************************/
.header{
  position: fixed;
  top: 0;
  left: 0;
  height: 7rem;
  width: 100%;
  z-index: var(--z-fixed);
  transition: var(--tran-0-5);
  background-color: #eaeaea;
  height: 109px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-active{
  height: 10rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* nav */
.nav{
  display: flex;
  justify-content: center;
  width: 100%;
}
.menu-content{
  display: flex;
  justify-content: center; 
  align-items: center; 
  width: 78%;
  margin: 0 auto;
  padding: 0 20px;
  z-index:999 ;
  position: fixed;
    background-color:#0c9500;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  height: 50px;
  border-radius: 8px;
}
.navbar__container {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 0 35px;
  z-index: -1;
  position: fixed;
  /* background-color: #e6e6e6db; */
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  justify-content: start;
}
#navbar__logo{
  width: 100px; 
  margin: 0px 0px 0px 15px;
  position: relative;
  }
  #navbar__logo img {
  width: 90px;
  z-index: -1;
  }
.logo-icon,
.logo-text,
.nav-link,
.phone-icon,
.phone-number{
  color: var(--white-color);
}

.logo-icon,
.phone-icon{
  font-size: 2rem;
}
.menu-list{
  column-gap: 3rem;
}
.nav-link{
  position: relative;
  text-transform: capitalize;
}
.nav-link::before{
  content: '';
  position: absolute;
  left: 50%;
  bottom: -8px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  transform: translateX(-50%);
  background-color: var(--white-color);
  opacity: 0;
}
.active-navlink::before{
  opacity: 1;
}
.header-active .active-navlink::before{
  background-color: var(--text-color);
}
.media-icons{
  column-gap: 1rem;
}
.media-icons a{
  color: var(--text-color-light);
}
.navClose-btn,
.navOpen-btn,
.media-icons{
  display: none;
}
/* nav responsive */
@media screen and (max-width: 768px) {
  .contact-content{
    display: none;
  }
  .navbar__container{
    justify-content: end;
    top: 4px;
  }
  .nav {
    left:0px;
    position: relative;
    justify-content: flex-start;}

  .navClose-btn,
  .navOpen-btn,
  .media-icons{
  display: block;
}
  .nav .menu-content{
    position: fixed;
    top: 0;
    right: -100%;
    max-width: 300px;
    width: 100%;
    height: 100%;
    z-index: var(--z-fixed);
    padding: 10rem 0 5rem;
    background-color: var(--white-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: var(--tran-0-5);
  }
  .nav .menu-content.open{
    right: 0;
  }
  .menu-list{
    flex-direction: column;
    row-gap: 2.5rem;
    font-size: var(--h4-font);
  }
  .nav-link{
    color: var(--text-color);
  }
  .nav-link::before{
    background-color: var(--text-color);
  }
  .navClose-btn{
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 2.5rem;
    cursor: pointer;
  }
  .navOpen-btn{
    font-size: 33px;
    cursor: pointer;
    color: #0c9500;
    padding: 15px;
    top: 23px;
    position: relative;
  }
  .header-active .navOpen-btn{
    color: var(--text-color);
  }
  .header{
    top:-48px;
    height: 115px;
  }
  #navbar__logo {
    width: 62px;
    top: -2px;

  }

}

     /*********************** End navbar ****************************/

        /*********************** start navbar ****************************/
    
/********************************* start btn *******************************************/

/********************************** End btn *******************************************/



/********************************* End Navbar *******************************************/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
 
    background: url("images/99.jpg");
  
}
.container_login{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 20px;
    background: #e0e0e1;
    
}
.box{
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 29px 20px 30px 20px;
    height: 592px;
    width: 350px;
    border-radius: 30px;
    background-color:#fff;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    border: 3px solid rgba(255, 255, 255, 0.2);
    overflow: hidden;
    direction: ltr;
}
.box-login{
    position: absolute;
    width: 85%;
    left: 27px;
    transition: .5s ease-in-out;
}
.box-register{
    position: absolute;
    width: 85%;
    right: -350px;
    transition: .5s ease-in-out;
}
.top-header{
    text-align: center;
    margin: 30px 0;
}
.top-header h3{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 8px;
    color: #324a42;
}
.input-group{
     width: 100%;
    
}
.input-field{
    margin: 12px 0;
    position: relative;
}
.input-box{
    width: 100%;
    height: 50px;
    font-size: 15px;
    color: #040404;
    border: none;
    border-radius: 10px;
    padding: 7px 45px 0 20px;
    background: rgba(224, 223, 223, 0.6);
    backdrop-filter: blur(2px);
    outline: none;
}
.input-field label{
    position: absolute;
    left: 20px;
    top: 15px;
    font-size: 15px;
    transition: .3s ease-in-out;
    color: #C87E4F;
}
.input-box:focus ~ label,.input-box:valid ~ label{
    top: 2px;
    font-size: 10px;
    color: #c12828;
    font-weight: 500;
}
.remember{
    display: flex;
    font-size: 13px;
    margin: 12px 0 30px 0;
    color: #000000;
}
.check{
    margin-right: 8px;
    width: 14px;
}
.input-submit{
    width: 100%;
    height: 50px;
    font-size: 15px;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    background: #376b2b;
    color: #fff;
    box-shadow: 0px 4px 20px rgba(62, 9, 9, 0.144);
    cursor: pointer;
    transition: .4s;
}
.input-submit:hover{
    background:  #4a8d3b;;
    box-shadow: 0px 4px 20px rgba(62, 9, 9, 0.32);
}
.forgot{
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    margin-top: 40px;
}
.forgot a{
    text-decoration: none;
    color: #000;
}
.switch{
    display: flex;
    position: absolute;
    bottom: 15px;
    left: 25px;
    width: 85%;
    height: 50px;
    background: rgba(255, 255, 255, 0.16);
    backdrop-filter: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.switch a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: #000;
    text-decoration: none;
    width: 50%;
    height: 50px;
    border-radius: 10px;
    z-index: 10;
}
#btn{
    position: absolute;
    bottom: 0px;   
    left: 0px;
    width: 145px;
    height: 50px;
    background: #cccccd;
    border-radius: 10px;
    box-shadow: 2px 0px 12px rgba(0, 0, 0, 0.1);
    transition: .5s ease-in-out;
}
.eye-area{
    position: absolute;
    top: 25px;
    right: 25px;
}
.eye-box{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
}
i{
    position: absolute;
    color: #444444;
    cursor: pointer;
}
#eye,#eye-2{
    opacity: 1;
}
#eye-slash,#eye-slash-2{
    opacity: 0;}
@media only screen and (max-width: 576px){
    .box{
        margin: 0 5px;
    }
    #btn{
        position: absolute;
        width: 153px;
    }
}