html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, .navbar, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	direction: rtl;

	vertical-align: baseline;}
  a{
    text-decoration: none;
  }

  ::selection{
    background-color: #c87e4f;
    color: #fff;
  }
  ::-webkit-scrollbar{
    width: 8px;
  }
  ::-webkit-scrollbar-track{
    background-color: #f9f1ec;
  }
  ::-webkit-scrollbar-thumb{
    border-radius: 1rem;
    background-color:#c87e4f;
  }
  ::-webkit-scrollbar-thumb:hover{
    border-radius: 1rem;
    background-color:#c87e4f
  }

  .flex{
    display: flex;
    align-items: center;
    column-gap: 0.6rem;
  }
	html {
		box-sizing: border-box;
    scroll-behavior: smooth;
	}

	*, *:before, *:after {
		box-sizing: inherit;
	}

	html, body {
		background: #ffffff;
	}



	body, select, textarea {
		color: rgba(255, 255, 255, 0.75);
		line-height: 1.75em;
	}


*{
  margin: 0;
  padding: 0;
  direction: rtl;
}

body{
  min-height: 100vh;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
   /*********************** start navbar ****************************/
#header{
  position: relative;
  height: 109px;
  }

.navbar__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  z-index:999 ;
  position: fixed;
  background-color: #e6e6e6db;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.navbar__menu, .sidebar {
  justify-content: center;
}
.sidebar li:hover {
  background-color:#0c9500;
  color: #fff;
}
.sidebar a:hover {
  color: #fff;
}
#navbar__logo{
  width: 100px;
  margin: 0px 0px 0px 15px;
  position: relative;
  }
  #navbar__logo img {
  width: 90px;
  z-index: -1;
  }
nav{
  background-color: white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  width: 100%;
}
nav ul{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
nav li{
  height: 50px;
}
nav a{
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #ffffff;
}
nav a:hover{
  background-color: rgba(255, 255, 255, 0.2);
}
nav li:first-child{
  margin-right: auto;
  display: none;
}
.sidebar{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.925);
  backdrop-filter: blur(12px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden;
}
.navbar__menu {
  list-style: none;
  padding: 0;
  display: flex;
  background-color:#0c9500;
  width: 100%;
  height: 50px;
  border-radius: 8px;
  align-items: center;
  display: flex;
  justify-content: center;
  z-index: -1;

  }
.sidebar li{
  width: 100%;
}
.sidebar a{
  width: 100%;
}
.menu-button{
  display: none;
}
   /*********************** End navbar ****************************/

   /*********************** Start Section one ****************************/
   @keyframes text {

    0% {

        color: #000;
        margin-bottom: -40px
    }

    30% {

        letter-spacing: 25px;
        margin-bottom: -40px
    }

    85% {

        letter-spacing: 8px;
        margin-bottom: -40px
    }
}



  #home .home-content h4{
    position: relative;
    color: #03A100;
    display: block;
    align-items: center;
    text-align: center;
    font-family: "Aref Ruqaa", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 78px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    animation: text 3s 1
  }

  #home .home-content h2{
    position: relative;
    color: #000000;
    display: block;
    align-items: center;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 33px;
    line-height: 0px;
    position: relative;
    padding:123px 0px 115px 0px;
  }

  #home .home-content p{
    position: relative;
    text-align: center;
    font-family: Amiri;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    color: rgb(0, 0, 0);

  }
  #home{
      position: relative;
      z-index: 0;
  }
  #home .home-content{
    height: 72vh;
    position: relative;
    z-index: 0;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin: auto;

  }
  .home-content img{
    position: relative;
    width: 53vh;
    top: 0px;
    right: 22px;
  }

  .text{
            position: relative;
            top: 0px;
            width: 100%;

          }
   /*********************** End Section one ****************************/

   /*********************** start article ****************************/

   #article{
		position: relative;
	  }

	#article .meu-text{
		min-height: 89vh;
		position: relative;
		z-index: 21;
		display: flex;
		margin: auto;
		justify-content: center;
		align-items: center;
		height: 80%;
		height: 100%;
    z-index: -1;
	}
.meu-text p{
		width: 100%;
		color: rgba(0, 0, 0, 1);
		/* position: relative; */
		font-family: Amiri;
		font-weight: 400;
		font-size: 35px;
		opacity: 1;
		text-align: right;
		line-height: 39px;
		width: 60%;
	}
	.meu-text h5{
		width: 100%;
		color: rgba(0, 0, 0, 1);
		position: relative;

		font-family: Amiri;
		font-weight: 400;
		font-size: 30px;
		opacity: 1;
		text-align: center;
	}
   /*********************** End article ****************************/
   s
     /*********************** Start container ****************************/

.box-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}
   .container {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.card-list .card-item:hover {
  border: 2px solid #9e721f90;
}
.card-item h3 {
  color: #000;
  font-size: 20px;
  margin: auto;
  font-weight: 600;
}

.line_center{
  position: relative;
  border: 1px solid #9e711f;
  width: 90%;
  display: flex;

}
.lin_li{
position: relative;
width: 100%;
display: flex;
justify-content: center;
align-items: center;

}
.tx{
  position: absolute;
  text-align: center;
  background-color: #fff;
  padding: 0 0px;
  color: #000000;
  z-index: 1;
  width: 100px;
}
.tx p{
  font-weight: bold;
  font-family: Amiri;
  font-style: normal;
  font-size: 29px;
}

/* Scroll Up */

.scrollUp-btn{
  position: fixed;
  bottom: 24px;
  right: 1rem;
  height: 35px;
  width: 35px;
  font-size: 2rem;
  border-radius: 4px;
  color: #C2703D;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  background-color:#fff;
  justify-content: center;
  transition: 0.3s;

}
.scrollUpBtn-active{
  bottom: 3rem;
}
.scrollUp-icon{
  opacity: 0.9;
  transition:0.3s;
}
.scrollUp-btn:hover .scrollUp-icon{
  opacity: 1;
}
.bx{
  padding: 2px;
}



/* <!-- *********************** End Section  **************************** --> */

/* <!-- *********************** Start slider  **************************** --> */
#summary{
  top: 0px;
  height: 90vh;
  padding: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  height: 100vh;
  width: 100%;
 height: 90vh;
}
.wrapper,
.slide {
  position: relative;
  width: 100%;
  height: 100%;
}
.slide {
  overflow: hidden;
}
.slide::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color:none;
  z-index: 10;
}

.slide .image-data {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 90%;
  z-index: 100;
}

.image-data h2 {
  font-size: 30px;
  font-weight: 400;
  color: #000;
  padding: 50px;
  line-height: 39px;
}
.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  top: 0px;
}


/* swiper button css */
.button-prev {
  height: 50px;
  width: 60px;
  border-radius: 50%;
  background: rgb(0 0 0 / 55%);
}
.nav-btn:hover {
  background: rgba(0, 0, 0, 0.4);
}
.swiper-button-next {
  right: 50px;
  color: #c87e4f;
}
.swiper-button-prev {
  left: 50px;
  color: #c87e4f;
}
.button-prev::before,
.button-prev::after {
  font-size: 25px;
  color: #fff;
}
.swiper-pagination-bullet {
  opacity: 1;
  height: 12px;
  width: 12px;
  background-color: #fff;
  visibility: hidden;
}
.swiper-pagination-bullet-active {
  border: 2px solid #fff;
  background-color: #c87e4f;
}

/* <!-- *********************** Start BoxIcon **************************** --> */
.boxicon{
  top: 0px;
  height: 53vh;
  padding: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ar{
  position: absolute;
  text-align: center;
  padding: 32px 0px;
  color: #000000;
  z-index: 1;
  width: 100%;
  font-family: Amiri;
  font-style: normal;
  font-size: 24px;
}
.boxicon::before{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.boxicon .module_counter{
  z-index: 0;
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.boxicon .module_counter .box{
  border: 1px dashed rgba(255,255,255,0.6);
  width: calc(25% - 30px);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  border: 1px solid #9e711f;
}
.module_counter .box .icon{
  font-size: 36px;
  position: relative;
  top: -48px;
  background-color: #0c9500;
  color: #ffffff;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.module_counter .box .counter{
  font-size: 50px;
  font-weight: 500;
  color: #000000;
  position: relative;
  font-family: sans-serif;
  top: -27px;

}
.module_counter .box .text{
  font-weight: 400;
  color: #000;
}
.module_counter .box p{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  top: -46px;
  position: relative;
  font-size: 23px;
}
@media screen and (max-width: 1036px) {
  .boxicon{
    padding: 50px 50px 0 50px;
    top: 19px;
    height: 58vh;
  }
  .boxicon .module_counter .box{
    width: calc(50% - 30px);
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 580px) {
  .boxicon .module_counter .box{
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .wrapper{
    padding: 20px;
  }
  .boxicon{
    padding: 44px 20px 0 20px;
    height: 125vh;
    top: 19px;
  }
}


/* <!-- *********************** End slider  **************************** --> */
@media screen and (max-width: 600px){

}


@media (max-width: 768px) {


}

@media(max-width: 800px){
     /*********************** start navbar ****************************/
  .hideOnMobile{
    display: none;
  }
  .navbar__menu {
    list-style: none;
    padding: 0;
    display: flex;
    background-color:#eaeaea00;
    width: 100%;
    height: 50px;
    border-radius: 8px;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    z-index: -1;
    }
    nav a{
      color: black;
    }
    #navbar__logo {
    margin: auto;
      width: 76px;
  }
  nav li:first-child{
    margin-right: auto;
    display: flex;
  }
  .navbar__menu .none{
display: none;
  }
  .menu-button{
    display: block;
  }
  .activities{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0px;
    text-align: center;
    bottom:26px;
    position: relative;
  }
  .title {
    text-align: center;
    color: #333;
    top:-14px;
    position: relative;
    font-size: 16px;
}
  .activities .item {
  padding: 42px;
  }


.card-item h3 {
  padding: 10px;
  font-size: 14px;
  position: relative;
}


     /*********************** End navbar ****************************/
}
@media(max-width: 400px){
  .sidebar{
    width: 100%;
  }
}
/*********************** <!-- *** Start social1  *** -->****************************/
.anchor_social1 {
  margin: 10px;
  outline: none !important;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  -webkit-tap-highlight-color: transparent;
  position: fixed;
  top: 40%;
}
.anchor_social1 a {
  position: relative;
  display: block;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  line-height: 42px;
  border-radius: 50%;
  transition: all .2s;
  text-decoration: none;
}
.index_anchor.right {
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.index_anchor {
  position: fixed;
  z-index: 900;
  display: flex;
}
.anchor_social1 a span {
  color: #fff;
  font-size: 16px;
}
.hidden {
  display: none !important;
}
/*********************** <!-- *** End social1  *** -->****************************/

/*<!-- ***********************end footer_down  **************************** -->*/
/* down */
.footer_down{
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  background: #446b31fa;
  top: 28px;
}
.footer_down .content_down{
  max-width: 1350px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer_down .content_down p,a{
  color: #fff;
}
.footer_down .content_down .box{
  width: 33%;
  transition: all 0.4s ease;
  padding-left: 71px;
}
.footer_down .content_down .topic{
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 16px;

}
.footer_down .content_down p{
  text-align: justify;
  left: 0;
  top: 0px;
  font-size: 21px;
}
.footer_down .content_down .lower .topic{
  margin: 24px 0 5px 0;
}
.footer_down .content_down .lower i{
  padding-right: 16px;
}
.footer_down .content_down .middle{
  padding-left: 80px;
}
.footer_down .content_down .middle a{
  line-height: 32px;
}
.footer_down .content_down .right input[type="text"]{
  height: 45px;
  width: 100%;
  outline: none;
  color: #000;
  background: #fff;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 17px;
  border: 2px solid #9e711f;
}
.footer_down .content_down .right input[type="submit"]{
  height: 42px;
  width: 100%;
  font-size: 18px;
  color: #d9d9d9;
  background: #9e711f;
  outline: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 12px;
  border: 2px solid #9e711f;
  transition: all 0.3s ease-in-out;
}
.content_down .right input[type="submit"]:hover{
  background: none;
  color:  #fff;
}
.footer_down .content_down .media-icons a{
  font-size: 16px;
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-radius: 5px;
  border: 2px solid #9e711f;
  margin: 30px 5px 0 0;
  transition: all 0.3s ease;
}
.content_down .media-icons a:hover{
  border-color: #9e711f;
}
.footer_down .bottom{
  width: 100%;
  text-align: right;
  color: #d9d9d9;
  padding: 0 40px 5px 0;
}
.footer_down .bottom a{
  color: #9e711f;
}
.footer_down a{
  transition: all 0.3s ease;
}
.footer_down a:hover{
  color: #c68e25;
}
.lower{
  position: relative;
  padding: auto;

}
/*<!-- ***********************end footer_down  **************************** -->*/


/* <!-- ***********************Start Whatsapp icon  **************************** --> */
.whatsapp-icon {
  position: fixed;
  left: 28px;
  bottom: 114px;
  z-index: 1000;
  font-size: 59px;
}

.whatsapp-icon a{
  width: 50px;
  height: 50px;
  cursor: pointer;
  color: #03A100;
}
/* <!-- ***********************End Whatsapp icon  **************************** --> */
.one_down{
  position: relative;
  width: 100%;
  height:105px;
      top: 0px;
    direction: ltr;
  background-position: center center;
  background-image: url(../uploads/زخارف1.png);
  background-repeat: repeat;
  background-repeat: repeat;
  background-size: 31vw 22vw;
  background-color: rgba(0, 0, 0, 0.1);
box-shadow: 3px 3px 5px rgba(0, 0, 0, 34%);
}

.one_down h4{
  display: flex;
  font:100px ;
  color: #324a42;
  align-items: center;
  padding: 14px 63px;
  font-size: 13px;
  text-align: left;
  position: relative;
  font-family: "Lemonada", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  direction: ltr;
  top: -7px;
}
 .rowe{
  position: relative;
  background-color: #376b2b;
  width: 150px;
  height: 30px;
  width: 305px;
  display: flex;
  height: 30px;
bottom: 13px;
}
.rowe p{
  position: relative;
  display: flex;
  font-family: "Baloo Bhaijaan 2", sans-serif;
      font-optical-sizing: auto;
  font-style: normal;
      text-align: left;
  z-index: 1;
  color:#fff;
}

.rowe_down{
  position: relative;
  background-color: #376b2b;
  width: 100%;
  height: 30px;
  display: flex;
  height: 30px;
bottom:43px;
justify-content: end;
padding: 0px 61px;
direction: ltr;
}
.icon_logo{
  position: relative;
  justify-content: center;
  color: #fff;
  display: flex;
  align-items: center;
  background-color: #fff;
  width: 104px;
  height: 105px;
  top: -43px;
background-image: url("../uploads/IMG-20230331-WA0004-.png");
background-size: cover;
}
.one{
  position: flex;
  width: 100%;
  height:105px;
      top: 0px;
      position: relative;
      background-position: center center;
      background-image: url(../uploads/زخارف1.png);
      background-repeat: repeat;
      background-repeat: repeat;
      background-size: 31vw 22vw;
      background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 34%);
direction: ltr;
}
.one h4{
  display: flex;
  font:100px ;
  color: #324a42;
  align-items: center;
  padding: 14px 34px;
  font-size: 13px;
  text-align: left;
  position: relative;
  font-family: "Lemonada", cursive;
  font-optical-sizing: auto;
  font-style: normal;
direction: ltr;

}





.user-dropdown { position: relative; }
.dropdown-menu {
  display: none;
  position: absolute;
  background: #fff;
  min-width: 100%;
  box-shadow: 0 6px 18px rgba(0 0 0 / 16%);
  border-radius: 6px;
  padding: 8px 0;
  right: 0;
  z-index: 50;
}
.dropdown-menu.open { display: block; }
.dropdown-menu li { list-style: none; }
.dropdown-menu li a {
  display: block;
  width: 144px;
  padding: 8px 14px;
  color: #333;
  text-decoration: none;
}
.dropdown-menu li a:hover { background: #f5f7fb; }
@media (max-width: 768px) {
  .hideOnMobile { display: none; }
}

